table.dataTable th {
	background:#D4E3ED;
	color:#6D929B;
	border-bottom:1px solid #C1DAD7;
	border-right:1px solid #C1DAD7;
	border-top:1px solid #C1DAD7;
	border-left:1px solid #C1DAD7;
}

table.dataTable td {
	background:#FFFFFF none repeat scroll 0%;
	border-bottom:1px solid #C1DAD7;
	border-left:1pt solid #C1DAD7;
	border-right:1px solid #C1DAD7;
	padding:5px 5px 5px 12px;
}